<a href="https://colab.research.google.com/github/suhaspradhan03/Python_Teachnook/blob/main/Teachnook_Python(ML)_Classes_Jan_2023_Batch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Class 1**

In [ ]:
# Variable  -> Data Container
# Data container means where we store the given/assigned values.

In [ ]:
num1=10

In [ ]:
print(num1)

10

In [ ]:
# variables ->
# we should not use special characters while we are creating variables)
# special characters include ( @,#,-,numbers/int/float,etc). exception --> '  _  '  can be used.

# Datatypes - Types of data which is stored inside a variable.

In [ ]:
num = 100
print(num)
print(type(num))

100
<class 'int'>

In [ ]:
# Int -> whole number which does not contain any decimal points.

In [ ]:
# float -> Decimal number
num1 = 345.678
print(num1)
print(type(num1))

345.678
<class 'float'>

In [ ]:
# add
num2 = 30.5
num3 = 45.55
num4 = num2 + num3
print(num4)
print(type(num4))

76.05
<class 'float'>

In [ ]:
# subtract
num2 = 30.5
num3 = 45.55
num4 = num2 - num3
print(num4)
print(type(num4))

-15.049999999999997
<class 'float'>

In [ ]:
# multiply
num2 = 30.5
num3 = 45.55
num4 = num2 * num3
print(num4)
print(type(num4))

1389.2749999999999
<class 'float'>

In [ ]:
# divide
num2 = 30.5
num3 = 45.55
num4 = num2 / num3
print(num4)
print(type(num4))

0.6695938529088914
<class 'float'>

In [ ]:
# string -> set of characters written in a single or double quotations.
name = 'Introduction of python'
print(name)
print(type(name))

Introduction of python
<class 'str'>

In [ ]:
# Boolean -> True or False
print(3>7)
print(11>5)

False
True

In [ ]:
# Concatenation : we can add/sub/divide/multiply different types of variables 
#                 using different types of variables
num1 = 100
num2 = 34.345
print('The addition of two values are', (num1+num2))

The addition of two values are 134.345

In [ ]:
num1 = 100
num2 = 34.345
print('The subtraction of two values are', (num1-num2))

The subtraction of two values are 65.655

In [ ]:
num1 = 100
num2 = 34.345
print('The multiplication of two values are', (num1*num2))

The multiplication of two values are 3434.5

In [ ]:
num1 = 100
num2 = 34.345
print('The division of two values are', (num1/num2))

The division of two values are 2.9116319697190276

In [ ]:
# string concatenation 
name1 = "hello"
name2 = "world"
print(name1, name2)

hello world

In [ ]:
name = "Tom & Jerry"
print("My favorite cartoon is", name)

My favorite cartoon is Tom & Jerry

In [ ]:
# INPUT : 

x = int(input('Enter a value: '))
y = int(input('Enter the second value: '))
print('The output value is ',(x-y))
print(type(x))
print(type(y))

Enter a value: 240
Enter the second value: 30
The output value is  210
<class 'int'>
<class 'int'>


**Class2**

In [ ]:
'''Datatypes 
int
str
float
bool'''

'''Collective datatypes in python
list
tuple
set
dictionary'''

'Collective datatypes in python\nlist\ntuple\nset\ndictionary'

In [ ]:
# list ' [] ' -> Collection of multiple types of data, ordered, mutable , []

mylist = ["Data","A","task","Scheduled"] # homogeneous , Datatype - string
print(type(mylist))
mylist = ["Data","A","task","Scheduled",544,True,245.61] # Heterogeneous 
print(mylist)
print(type(mylist))

<class 'list'>
['Data', 'A', 'task', 'Scheduled', 544, True, 245.61]
<class 'list'>

In [ ]:
list1 = ["there","are","so","many","things",2345,True,False,22.156]
print(list1)
print(type(list1))

['there', 'are', 'so', 'many', 'things', 2345, True, False, 22.156]
<class 'list'>

In [ ]:
mylist = ["Data","A","task","Scheduled",544,True,245.61]
# indexing --> prints individual data
# positive indexing
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])
print(mylist[6])
# Negative indexing 
print(mylist[-1])
print(mylist[-2])
print(mylist[-3])
print(mylist[-4])
print(mylist[-5])

Data
A
task
Scheduled
544
True
245.61
245.61
True
544
Scheduled
task

In [ ]:
mylist = ["Data","A","task","Scheduled",544,True,245.61]
print('The value of mylist is',mylist)
# update -> changing(updating) the values that are already present in the list.
mylist[-2]=False
print()
print('The updated value is will be below')
print()
print('The value of mylist is',mylist)
mylist[1]='B'
# value should be assigned to the vaiable in the format that it is in (string)
print('The value of mylist is',mylist)

The value of mylist is ['Data', 'A', 'task', 'Scheduled', 544, True, 245.61]

The updated value is will be below

The value of mylist is ['Data', 'A', 'task', 'Scheduled', 544, False, 245.61]
The value of mylist is ['Data', 'B', 'task', 'Scheduled', 544, False, 245.61]

In [ ]:
# append (add) : add values inside the list

mylist.append("Details")
print(mylist)
print('The values after appending(adding) mylist are ',mylist)

# mylist.append("values")
# mylist.append("home")
# mylist.append("calm")
# print('The values after appending(adding) multiple values to mylist are ',mylist)

['Data', 'B', 'task', 'Scheduled', 544, False, 245.61, 'Details']
The values after appending(adding) mylist are  ['Data', 'B', 'task', 'Scheduled', 544, False, 245.61, 'Details']

In [ ]:

# insert -> Adding values into a specific location within the list

mylist.insert(3,"insert")
print(mylist)
print("The value of mylist after inserting is ",mylist)

['Data', 'B', 'task', 'insert', 'Scheduled', 544, False, 245.61]
The value of mylist after inserting is  ['Data', 'B', 'task', 'insert', 'Scheduled', 544, False, 245.61]

In [ ]:
# to concatenate 2 lists together 
mylist = ["Data","A","task","Scheduled",544,True,245.61]
list1 = ['1','2','3','4','5',6]
print('the concatenated list is ',(mylist+list1))

the concatenated list is  ['Data', 'A', 'task', 'Scheduled', 544, True, 245.61, '1', '2', '3', '4', '5', 6]

In [ ]:
# to add and store one list indie another list
mylist = ["Data","A","task","Scheduled",544,True,245.61]
list1 = ['1','2','3','4','5',6]
mylist.append(list1)
print(mylist)

['Data', 'A', 'task', 'Scheduled', 544, True, 245.61, ['1', '2', '3', '4', '5', 6]]

In [ ]:
# Extend method
mylist = ["Data","A","task","Scheduled",544,True,245.61]
list1 = ['1','2','3','4','5',6]
# mylist.extend(list1)
list1.extend(mylist)
print("The value of list1 is ", list1)

The value of list1 is  ['1', '2', '3', '4', '5', 6, 'Data', 'A', 'task', 'Scheduled', 544, True, 245.61]

In [ ]:
print(mylist)

['Data', 'A', 'task', 'Scheduled', 544, True, 245.61, ['1', '2', '3', '4', '5', 6]]

In [ ]:
mylist = ["Data","A","task","Scheduled",544,True,245.61,"Details",1,23,456]

In [ ]:
# remove -> to delete any specific data in a given list.
mylist.remove(544)
print('the value is ', mylist)

the value is  ['Data', 'A', 'task', 'Scheduled', True, 245.61, 'Details', 1, 23, 456]

In [ ]:
# delete
del mylist[-5]
print('the value is ',mylist)

the value is  ['Data', 'A', 'task', 'Scheduled', True, 'Details', 1, 23, 456]

In [ ]:
print(mylist)
del mylist
#print(mylist)

['Data', 'A', 'task', 'Scheduled', 544, True, 245.61, 'Details', 1, 23, 456]

In [ ]:
print(mylist)

['Data', 'A', 'task', 'Scheduled', 544, True, 245.61, 'Details', 1, 23, 456]

In [ ]:
# tupple --> ordered collection of datatypes. Immutable 

mytuple = ("dell",534,"HP",34.6,False)
print(mytuple)
print(len(mytuple))

tuple2 = ('acer',250,"macbook",22.5,True)
# mytuple.append("details")   -> tuple object cannot append,insert,extend
# print(mytuple)                  or delete(remove or pop) items in the tuple
# mytuple.insert(4,"details")
# print(mytuple)
# mytuple.extend(tuple2)
# print(mytuple)

('dell', 534, 'HP', 34.6, False)
5

In [ ]:
# Dictionary -> {} , based. on key and value pairs

In [ ]:
mydict = {
          "username":"Admin", 
          "password":"pass",
          "batch":2023
          }

print(mydict)

# updating a dictionary

mydict["username"] = "suhas"
mydict["password"] = "subscribe&follow"
print(mydict)
print(type(mydict))

print("The updated value after changing the value is ", mydict)
mydict2 = {"name":"sujo", "age":26, "health":"good"}

{'username': 'Admin', 'password': 'pass', 'batch': 2023}
{'username': 'suhas', 'password': 'subscribe&follow', 'batch': 2023}
<class 'dict'>
The updated value after changing the value is  {'username': 'suhas', 'password': 'subscribe&follow', 'batch': 2023}

In [ ]:
mydict2 = {"name":"sujo", "age":26, "health":"good"} 

mydict2["name"] = ("suhas","joshua","pradhan")      # this is a tupple(cant be changed)
mydict2["age"] = [26,29,33]                         # this is a list (can be changed)
mydict2["health"] = ["good","great","okayish"]      # this is a list (can be changed)

print(mydict2)
print("The updated value after changing the key/value pair is ", mydict2)

{'name': ('suhas', 'joshua', 'pradhan'), 'age': [26, 29, 33], 'health': ['good', 'great', 'okayish']}
The updated value after changing the key/value pair is  {'name': ('suhas', 'joshua', 'pradhan'), 'age': [26, 29, 33], 'health': ['good', 'great', 'okayish']}

In [ ]:
# replace -> removeing a value in the string, with a blank space
x = 'hellohahahahhaa'
print(x.replace('h', ''))
# print(s.replace('a', '')) --> should be done in this way or it replace wont work

elloaaaaa

In [ ]:
x = 'hello'
# del x[0]
# string object does not support item deletion.

print(x.replace('h',''))
# it can be replaced using the replace method

ello

In [ ]:
xdict = {"username":"admin","age":25,"work":"going"}
print(xdict["username"])
print(xdict)

xdict["username"] = ("suhas","joshua","pradhan")
xdict["age"] = [25,26,27]
xdict["work"] = ["Ds","AI","ML"]

print(xdict["username"])
print(xdict)

# xdict.append["user"] = "new user"
# attribute Error: 'dict' object has no attribute 'append'

admin
{'username': 'admin', 'age': 25, 'work': 'going'}
('suhas', 'joshua', 'pradhan')
{'username': ('suhas', 'joshua', 'pradhan'), 'age': [25, 26, 27], 'work': ['Ds', 'AI', 'ML']}

In [ ]:
print(xdict)

# adding a list to a key directly

list1 = [11,12,13,14,15]
xdict["age"] = list1

print(xdict)

xdict.pop("age")
print(xdict)

{'username': ('suhas', 'joshua', 'pradhan'), 'age': [11, 12, 13, 14, 15], 'work': ['Ds', 'AI', 'ML']}
{'username': ('suhas', 'joshua', 'pradhan'), 'age': [11, 12, 13, 14, 15], 'work': ['Ds', 'AI', 'ML']}
{'username': ('suhas', 'joshua', 'pradhan'), 'work': ['Ds', 'AI', 'ML']}

In [ ]:
# set --> {}, unordered collection of datatypes, does not contain any duplicate values.

myset = {'data','task',12,34.6,False,12,12,False}
print(myset)

# add
myset.add("True")
print(myset)

{False, 34.6, 12, 'task', 'data'}
{False, 34.6, 12, 'task', 'data', 'True'}

In [ ]:
# extend does not work, we use union and intersection
# union -> combine twop or more sets of data into 1 set 
# symbol -->.      |     for union 
set1 = {1,2,3,4}
set2 = {4,5,6,7}
set3 = {7,8,9,0}

set4 = set1|set2|set3
print(set4)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# intersection -> & (or) .intersection
# intersection means common datas within the sets

set3 = set2.intersection(set1)
print(set3)

{4}

In [ ]:
set4 = set1.difference(set2)
print(set4)

{1, 2, 3}

**Class 4** 

**should be Written as class 3**

**Functions**

In [ ]:
# to print this statement 5 times
print("Hello all \ngood evening everyone \nwelcome back to the class")
print("Hello all \ngood evening everyone \nwelcome back to the class")
print("Hello all \ngood evening everyone \nwelcome back to the class")
# \n -> will be used to print the data in the new line

Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class

In [ ]:
def a():
  print("Hello all \ngood evening everyone \nwelcome back to the class")

a()

Hello all
good evening everyone
welcome back to the class

In [ ]:
# we can use this function as many number of times necessary
def name():
  print("hello all")

name()
name()
name

hello all
hello all

In [ ]:
def add(num1,num2):
  print("the concatenation of two parameters are :- ",(num1+num2))

add(2,3)
# 2 arguments are placed inside the add function which is being called.

the concatenation of two parameters are :-  5

In [ ]:
# stinig concat
def add1():
  num1= input("enter 1st value ")
  num2= input("enter 2nd value ")
  print("the concat of two string inputs will be", (num1+num2))

add1()

enter 1st value 10
enter 2nd value 10
the concat of two string inputs will be 1010

In [ ]:
# int concat -> convert string to int during the input
def add2():
  num1= int(input("enter 1st value "))
  num2= int(input("enter 2nd value "))
  print("the concat of two string inputs will be", (num1+num2))

add2()

enter 1st value 10
enter 2nd value 10
the concat of two string inputs will be 20

In [ ]:
def a(name):
  print("my fav food is",name)

a("pani puri - costs 30")
a("vada pav")

my fav food is pani puri - costs 30
my fav food is vada pav

In [ ]:
# subtraction 
def sub():
  num1= int(input("enter 1st value "))
  num2= int(input("enter 2nd value "))
  print("the concat of two string inputs will be", (num1-num2))

sub()

enter 1st value 10
enter 2nd value 5
the concat of two string inputs will be 5

In [ ]:
# subtraction without using input and only parameters
def sub2(num1,num2):
  print("the subtraction of two values will be", (num1-num2))
  print("the multiplied values are",num1*num2)
  print("the divided value will be",num1//num2)

sub2(20,5)

the subtraction of two values will be 15
the multiplied values are 100
the divided value will be 4

In [ ]:
# Loop --> loop means printing the data one after the other
a = 5
for x in range(0,a):
  print(x)

0
1
2
3
4

In [ ]:
# for loop -- range defined 
for y in range(10):
  print(y)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# to make all this data be printed in seperate lines 

mylist = ["Data","A","task","Scheduled",544,True,245.61]

print(mylist)

for ab in mylist:
  print(ab)

['Data', 'A', 'task', 'Scheduled', 544, True, 245.61]
Data
A
task
Scheduled
544
True
245.61

In [ ]:
# FOR Loop -> how to use for loop better

num = int(input("enter a range : "))
# for i in range(1,num+1):
for i in range(0,num):
  print(i)

num1 = ("hi","sample","on","for","loop",1,2,3,4)
for x in num1:
  print("the data in the range is: ", x)

enter a range : 2
0
1
the data in the range is:  hi
the data in the range is:  sample
the data in the range is:  on
the data in the range is:  for
the data in the range is:  loop
the data in the range is:  1
the data in the range is:  2
the data in the range is:  3
the data in the range is:  4

In [ ]:
def a():
  for x in range(5):      # when this condition is true that is when the loop happens 
  # so when x =  , true , print.  x = 2, true, prints. ... x = 5.  (n - 1), true,prints. x = 6, false,does not print and stops. 
    print("Hello all \ngood evening everyone \nwelcome back to the class")
 
a()

Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class
Hello all
good evening everyone
welcome back to the class

In [ ]:
# if , elif, and else statements

if(2>6):
  print("first number is greater")
elif(2<6):
  print("the second number is greater")
else:
  print("none")

the second number is greater

In [ ]:
def quiz():
  x = input("enter any one letter - a,b,c,d:- ")
  if x == ('a' or 'b' or 'd'):
    print("you have lost")
  elif x == "c":
    print("you won")
  else:
    print("please play again")

quiz()

enter any one letter - a,b,c,d:- a
you have lost

** Class 5 **

In [ ]:
# Files - Where the data can be stored, Accessed or Read.

# 3 different modes to use the files

# (i)   read mode   - only reads the file
# (ii)  write mode  - writing data to a file, existing data will be excluded,
#                     new data will be added to the file
# (iii) append mode - both the new data as well as the existing data will be added to the file.

In [ ]:
file = open("a.txt","r")
print(file.read())

# Files - Where the data can be stored, Accessed or Read.
# 3 different modes to use the files
# read mode
# write mode
# append mode

In [ ]:
file = open("a.txt","w")
file.write("this is written by the user")

# the ouput till this part will be 27
# 27 --> refers to the number of characters present

27

In [ ]:
# reading a file
file1 = open("a.txt","r")
print(file1.read())

In [ ]:
# writing a file 
file1 = open("a.txt","w")
file1.write("This is written by the developer")

32

In [ ]:
file1 = open("a.txt","r")
print(file1.read())

This is written by the developer

In [ ]:
# appending a file 
file1 = open("a.txt","a")
file1.write("\nThis is done and written by the user or developer")

50

In [ ]:
file1 = open("a.txt","r")
print(file1.read())

This is written by the developer
This is done and written by the user or developer

In [ ]:
# using with keyword -> context manager and using read
with open("a.txt","r") as file1:
  print(file1.read())

This is written by the developer
This is done and written by the user or developer

In [ ]:
## Adding lists using with - into files

mylists = ["\nData \n","Details \n","Tasks "]

In [ ]:
with open("a.txt","a") as file1:
  file1.writelines(mylists)

In [ ]:
with open("a.txt","r") as file1:
  print(file1.read())

This is written by the developer
This is done and written by the user or developerData
Details
TasksData
Details
TasksData
Details
Tasks

 Data
Details
Tasks

Data
Details
Tasks

In [ ]:
# create a simple calculator

def cal():
  num1 = int(input("enter the first value"))
  num2 = int(input("enter the second value"))
  op = input("Enter the operator -> +,-,*,/")
  if op == "+":
    print("The addition of 2 values ",(num1+num2))
  elif op == "-":
    print("The subtraction of 2 values ",(num1-num2))
  elif op == "*":
    print("The multiplication of 2 values ",(num1*num2))
  else:
    print("The Division of 2 values",(num1/num2))

cal()

enter the first value5
enter the second value6
Enter the operator -> +,-,*,/*
The multiplication of 2 values  30

**Class 6**

In [ ]:
# function

def _a_():
  print("hello all")

_a_()

hello all

In [ ]:
def _a_(name,num):
  print("hello all")

_a_('su','1')

hello all

In [ ]:
def _a_(name,num):
  print("hello", name ,"your roll nunber is ", num)

_a_('suhas', 5)

hello suhas your roll nunber is  5

In [ ]:
# Advanced Argument Passing 
''' types of methods are used 
--> Positional Arguments 
 '''

def arg(name,city,batch):
  print("my name is", name,"from", city,"and i belong to the Jan Batch", batch)

arg('suhas','vizag',2023)

my name is suhas from vizag and i belong to the Jan Batch 2023

In [ ]:
# Positional Argument 

def arg(name,city,batch):
  print("my name is", name,"from", city,"and i belong to the Jan Batch", batch)

arg('vizag',2023, "suhas")

# The arguments here will be mismatched.
# so to make sure the correct argument goes to the correct loaction.

my name is vizag from 2023 and i belong to the Jan Batch  suhas

In [ ]:
# Keyword Argument -> 
# The data will be returned in the form of key and values.
# whatever the order might be, we mention that 
# a particular value is psecifically for that key only.

def arg(name,city,batch):
  print("my name is", name,"from", city,"and i belong to the Jan Batch", batch)
  print(type(name))
  print(type(city))
  print(type(batch))

arg(city = 'Bangalore',batch = 2023,  name = "suhas")

my name is suhas from Bangalore and i belong to the Jan Batch 2023
<class 'str'>
<class 'str'>
<class 'int'>

In [ ]:
# Default Argument ->
def arg(name = "suhas",city = "bangalore",batch = 2023):
  print("my name is", name,"from", city,"and i belong to the Jan Batch", batch)

arg()

my name is suhas from bangalore and i belong to the Jan Batch 2023

In [ ]:
# both positional and keyword argument 

def arg(name,city,batch):
  print("my name is", name,"from", city,"and i belong to the Jan Batch", batch)

arg("suhas", batch = 2023,city = "vizag")

my name is suhas from vizag and i belong to the Jan Batch 2023

In [ ]:
# Slicing  ->  Prints a sequence of elements or a range of elements

s = "Python course"
#print 1 single element 
print(s[0])
# print excluding the 0th element of the sequence 
print()
print(s[1:])
print()
# print (from negative indexing)
print(s[:-7])

P

ython course

Python

In [ ]:
# start , stop , step  --  slicing 
s = "Python course"
print(s[::2])
print(s[::3])

Pto ore
Ph ue

**Class 7**

In [ ]:
# Advanced argument passing

In [ ]:
# N - number of arguments(*args -> when we dont know the exact number of arguments)
'''
*args -> when we know parameter of the function and we dont know 
how many more arguments are present in the second/third parameters,
that is when we use *args (SYMBOL -> *)
'''
def details(teacher,*args):
  print("the name of the teacher is ",teacher)
  # why is a looping statement is used??
  # All the data that is paassed to the args is printed in a 
  # looping statement so every argument can be printed after the other.
  for roll_no in args:
    print("the student roll numbers are", roll_no)

details("Lucy",1,2,3,789,8,5)
# all the arguments are in an ordered form.

the name of the teacher is  Lucy
the student roll numbers are 1
the student roll numbers are 2
the student roll numbers are 3
the student roll numbers are 789
the student roll numbers are 8
the student roll numbers are 5

In [ ]:
def details(teacher,*args):
# for sorted(ascending / decending ordered *args - 
# create new variable with sorted function and pass it in the looping statement )
  print("the name of the teacher is ",teacher)
  s_args= sorted(args)
  for roll_no in s_args:
    print("the student roll numbers are", roll_no)
details("sam",1,4,11,26,78,8,5)

the name of the teacher is  sam
the student roll numbers are 1
the student roll numbers are 4
the student roll numbers are 5
the student roll numbers are 8
the student roll numbers are 11
the student roll numbers are 26
the student roll numbers are 78

In [ ]:
# **kwargs --> when we want both keys and arguments to be assigned.

In [ ]:
def details(teacher,*args,**kwargs):
  print("the name of the teacher is ",teacher)
  s_args= sorted(args)
  for roll_no in s_args:
    print("the student roll numbers are", roll_no)
  for subject in kwargs:
    print(subject, kwargs[subject])

details("sam",1,4,11,26,78,8,5,python=100,Ds = 30,webdev = 50)

the name of the teacher is  sam
the student roll numbers are 1
the student roll numbers are 4
the student roll numbers are 5
the student roll numbers are 8
the student roll numbers are 11
the student roll numbers are 26
the student roll numbers are 78
python 100
Ds 30
webdev 50

In [ ]:
a = ["sam",1,4,11,26,78,8,5,"python100","Ds30","webdev50"]

for i in a:
  print(i)
print()
b = [1,4,11,26,78,8,5]
c = sorted(b)
for j in c:
  print(j)

sam
1
4
11
26
78
8
5
python100
Ds30
webdev50

1
4
5
8
11
26
78

In [ ]:
# Iterators
# An object that contains countable number of values
# the data will be printed one after the other.

# 2 methods --> ITER, NEXT

mylist1 = [1,2,55,4,5,66,7,8,9]

In [ ]:
# ITER -> passes all the values to the variable that is assigned
# Next -> knows what is the next data that is to be passed when ever the code is executed. 
myiterator = iter(mylist1)
print(next(myiterator))
print(next(myiterator))
print(next(myiterator))
print(next(myiterator))

1
2
55
4

In [ ]:
###
'''
how to remove a value or a string from a set ?
'''
# highest value in set -  max method 
# lowest value in set -   min method 
myset = {1,2,3,4,5,6}
print(max(myset))
print(min(myset))

# remove value or string variable from a set - remove method 

myset.remove(5)
print(myset)

# adding data inside a set

myset.add(99)
myset.add(40)
myset.add(77)
print(myset)

6
1
{1, 2, 3, 4, 6}
{1, 2, 3, 4, 99, 6, 40, 77}

In [ ]:
# '''
# Create an input, take some randomm numbers.
# sort them into 2 lists as even and odd numbers
# '''

# def splitevenandodd(A):
#   evenlist = []
#   oddlist = []
#   for i in A:
#     if (i % 2 == 0):
#       evenlist.append(i)
#     else:
#       oddlist.append(i)
#   print("Evenlist : ",evenlist)
#   print("oddlist : ",oddlist)

'\nCreate an input, take some randomm numbers.\nsort them into 2 lists as even and odd numbers\n'

**Class 8**

In [ ]:
# Exception Handling in python

In [ ]:
'''
we use exception handling to handle the error we know that we will get
once we execute the program.
'''

In [ ]:
# 2 Types of errors 
'''
Logical Error -> math error, 0 division error 
Syntax Error  -> name error
'''

In [ ]:
list1 = [0,1,22,3,4,64,5,4,33]

try:
  print(list1[4])
  print(list1[8])
  print(list1[6])
  print(list1[20])
  print(list1[0])

except:
  print("invalid index value - please change the index value")

4
33
5
invalid index value - please change the index value

In [ ]:
# import module
# -- when the file doesnt exist
import sys

try:
  x = open('file1.txt','r')
  print(x.read())
except:
  print("there is no file in the system")

there is no file in the system

In [ ]:
# when the file exists
# import sys

try:
  x = open('file.txt','r')
  print(x.read())
except:
  print("there is no file in the system")
finally:
  print("the code is partially completed")

welcome to the class
the code is partially completed

In [ ]:
# Comprehension

In [ ]:
# Comprehension --> The task can be implemented in a short and precise way.

In [ ]:
# 4 types of comprehension
# list
# dictionary
# set
# Generator

In [ ]:
# basic list
mylist = [1,23,4,5,6,7,8]
# here we pass an empty list to a variable
evenlist = []
oddlist = [] 

# to know which values are even and odd

for x in mylist:
  if x % 2 == 0:
    evenlist.append(x)
    print(evenlist)
  else:
    oddlist.append(x)
    print(oddlist)
print('The even values in the list are',evenlist)
print('The odd values in the list are ',oddlist)

[1]
[1, 23]
[4]
[1, 23, 5]
[4, 6]
[1, 23, 5, 7]
[4, 6, 8]
The even values in the list are [4, 6, 8]
The odd values in the list are  [1, 23, 5, 7]

In [ ]:
# LIST Comprehension
evenno = [value for value in mylist if value % 2 == 0]
print(evenno)

[4, 6, 8]

In [ ]:
# dictionary
mydict = {}
for y in mylist:
  mydict[y] = y**2
print(mydict)

{1: 1, 23: 529, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# dictionary comprehension

d = {i:i**2 for i in mylist}
print(d)

# mydict = { value for value in mylist mydict[y] = y**2}
# print(mydict)

{1: 1, 23: 529, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [ ]:
# -- extra (class 12) --

In [ ]:
# import pygame
# pygame.init()

# window=pygame.display.set_mode((900,700))
# pygame.display.set_caption("My new game")

# icon=pygame.image.load("icon.png")
# pygame.display.set_icon(icon)

# spaceship=pygame.image.load("icon.png")
# spaceship_x=200
# spaceship_y=300

# def display_spaceship(x,y):
#     window.blit(spaceship,(x,y))
# bg=pygame.image.load("Background.jpg")


# gameon=True
# while gameon:
#     window.blit(bg,(0,0))
    
#     for even in pygame.event.get():
#         if even.type==pygame.QUIT:
#             gameon=False
#     keys =pygame.key.get_pressed()
#     if keys[pygame.K_LEFT]:
#         spaceship_x-=1
#     if keys[pygame.K_RIGHT]:
#         spaceship_x+=1
#     if keys[pygame.K_UP]:
#         spaceship_y+=1
#     if keys[pygame.K_DOWN]:
#         spaceship_y-=1    
        
#     display_spaceship(spaceship_x,spaceship_y)
#     pygame.display.update()


# pygame.quit()

**Class 9**

In [ ]:
# set -> {},unordered
mylist = [1,23,4,5,6,7,8]

evenset = set()           # to create an empty set
oddset = set()
for x in mylist:
  if x % 2 == 0:
    evenset.add(x)
  else:
    oddset.add(x)
print(evenset)
print(oddset)

{8, 4, 6}
{1, 7, 5, 23}

In [ ]:
#set comprehension
myset = {1,23,4,5,6,7,8}

evenset1 = {value for value in myset if value % 2 == 0}
oddset1 = {value for value in myset if value % 2 != 0}
print(oddset1)
print(evenset1)

{1, 23, 5, 7}
{8, 4, 6}

In [ ]:
# Generator -> Generating the value 
# (The value will be generated using the YEILD keywords)

def gen(x):
  print("the values are")
  yield x+10-x
  yield 10*x
# y = gen(2.4)
# print(next(y))
# print(next(y))
for y in gen(2.4):
  print(y)

the values are
10.0
24.0

**LAMBDA Functions**

In [ ]:
"""
1. anonymous functions
2. to overcome a function we use lambda functions
3. lamdba function can have any number of parameters.

Condition

Lambda function will be executed one expression at a time.
"""

In [ ]:
# x is a variable 
# we use lambda funciton
# we are saying that the variable x will be passed in the expression

x = lambda x:x+10
print(x(10))

20

In [ ]:
x = lambda x:x*(x**2)
print(x(5))

125

In [ ]:
x1 = lambda x,y,z : x+y+z
print(x1(10,20,30))

60

In [ ]:
print((lambda a,b,c:a+b+c)(1,3,6))

10

In [ ]:
# for loop with lambda function

x2 = [lambda x=x:x*10 for x in range(1,11)]
# print(x2())
for x3 in x2:
  print(x3())

10
20
30
40
50
60
70
80
90
100

In [ ]:
# if and else conditions with lambda fucntions

y = lambda a,b: a if (a>b) else b

# y is the variable 
# lambda is the function
# a,b are the parameters
# if and else is the expression 

print(y(5,2))

5

In [ ]:
tables = [lambda x = x:x+10 for x in range(1,11)]
for table in tables:
  print(table())

11
12
13
14
15
16
17
18
19
20

In [ ]:
# string formatting 

'''
operators, .format , f string , string template
'''

'\noperators, .format , f string , string template\n'

In [ ]:
# using operators
print("hello %s, welcome all"%"class")

hello class, welcome all

In [ ]:
print("Hello %sWelcome %s" %("class\n","all"))

Hello class
Welcome all

**Class 10**

In [ ]:
# data should be in terms of key and values

mydict = {"name":"su","class":"one","roll no":12345}

print("the name is {}. I am from the class {}".format("suhas", 1 ))

the name is suhas. I am from the class 1

In [ ]:
#  .format using dictionary

print("this  %(company)s is a %(department)s portal"%{"company":"GFG","department":"CS"})

this  GFG is a CS portal

In [ ]:
# F - string 
# the f string automatically converts the string into an integer.
num1 = 10
num2 = 19
print(f"the sum of two values are {num1+num2}")

the sum of two values are 29

In [ ]:
num1 = input("Enter 1st number")
num2 = input("Enter 2nd number")
print(f"the sum of two values are {num1+num2}")

Enter 1st number10
Enter 2nd number20
the sum of two values are 1020

In [ ]:
# MODULES
# -> it can be a build in library (or) it will be doing its own tasks.
# we import modules 
# EX:
import math 

print(math.pi)

3.141592653589793

In [ ]:
print(math.sin(1))

0.8414709848078965

In [ ]:
import datetime
date = datetime.datetime.now()
print(date)

2023-02-06 23:56:30.287866

In [ ]:
# creating your own module

import module1
module1.a("suhas","good evening -")

good evening - suhas

**class 11**

**OOPS Concept**

In [ ]:
# OOPS - Object Oriented Programming Language
# Fundamental Concepts :-
# 1. Class
# 2. object
# 3. Inheritance 
# 4. Encapsulation
# 5. Polymorphism

In [ ]:
#                                 CLASS
# CLass -> It is a Blueprint of the program, it is the main function in a program.
# Ex: --- in terms of a house : CLASS is the blueprint of the house.
# Objects are the seperate rooms in the house.
# 1 main class has many different objects.
# changes on the objects cant have any effect on the main class until defined.

In [ ]:
class mylaptop():
  # attribute -> A variable that is defined inside a class that can be shared to all other objects.
  processor  = "Intel I5"
  display = "Full HD"
mylaptop.processor = "Intel I7"
# Any changes made to the main class will effect all sub classes(objects)

In [ ]:
obj1 = mylaptop()
obj2 = mylaptop()
obj3 = mylaptop()

print(obj1.processor)
print(obj2.display)
print(obj3.processor)

print()
# Updating a specific object - only effects that object
obj3.processor = "Pentium"
print("The value of the object after updating for obj3 is -",obj3.processor)
# Any changes made to a specific object will only have effect on that specific object

Intel I7
Full HD
Intel I7

The value of the object after updating for obj3 is - Pentium

In [ ]:
# Instance Attribute (or) Instance Class Atribute

class mylaptop():
  # attribute -> A variable that is defined inside a class that can be shared to all other objects.
  processor  = "Intel I5"
  display = "Full HD"
  
  # instance attribute -> It is a variable that belongs to only one object.
  # will not have effect on the entire class, specific to the object.
  def __init__(self,color,os,ram):
    self.color = color
    self.os = os
    self.ram = ram

  # Method
  # we defined a funciton.
  # self should be passed in the function to show that it is a part of the Class
  def a(self):
    print("hello all")


mylaptop.processor = "Intel I7"
# Any changes made to the main class will effect all sub classes(objects)


obj1 = mylaptop("Red","windows", 8 )
# since we put an instance class attribute - we have to mention this as a parameter(color,os,ram specific to each object)
obj2 = mylaptop("Green","windows", 16)
obj3 = mylaptop("Black","Mac os", 32)

print(obj1.processor)
print(obj2.display)
print(obj3.processor)

print()
# Updating a specific object - only effects that object
obj3.processor = "Mac os"
print("The value of the object after updating for obj3 is -",obj3.processor)
# Any changes made to a specific object will only have effect on that specific object
print(obj1.color)
print(obj3.color)
print(obj3.os)
print(obj3.ram)
print(type(obj3.ram))

print()
# calling the funciton that is added (method)

obj1.a()

Intel I7
Full HD
Intel I7

The value of the object after updating for obj3 is - Mac os
Red
Black
Mac os
32
<class 'int'>

hello all

In [ ]:
# INHERITANCE (inheritance - inherit, parent class - child class, properties.)

In [ ]:
class mylaptop():
  # attribute -> A variable that is defined inside a class that can be shared to all other objects.
  processor  = "Intel I5"
  display = "Full HD"
  
  # instance attribute -> It is a variable that belongs to only one object.
  # will not have effect on the entire class, specific to the object.
  # def __init__(self,color,os,ram):
  def __init__(self,color):
    self.color = color
    # self.os = os
    # self.ram = ram

  # Method
  # we defined a funciton.
  # self should be passed in the function to show that it is a part of the Class
  def a(self):
    print("hello all")

## Inheritance -  parent class and child class 
## child (class) has the right to use the properties of the parent (class)
# creating new child class

class mymobile(mylaptop):
  def __init__(self,color,camera):
    self.camera = camera
    # we initiate the parent class in the child class
    # by using --> parentclass.__init__(instance attribute)
    mylaptop. __init__(self,color)


mylaptop.processor = "Intel I7"
# Any changes made to the main class will effect all sub classes(objects)


#obj1 = mylaptop("Red","windows", 8 )
obj1 = mylaptop("Red")
# since we put an instance class attribute - we have to mention this as a parameter(color,os,ram specific to each object)
#obj2 = mylaptop("Green","windows", 16)
obj2 = mylaptop("Green")
#obj3 = mylaptop("Black","Mac os", 32)
obj3 = mylaptop("Black")

print(obj1.processor)
print(obj2.display)
print(obj3.processor)

print()
# Updating a specific object - only effects that object
obj3.processor = "Mac os"
print("The value of the object after updating for obj3 is -",obj3.processor)
# Any changes made to a specific object will only have effect on that specific object
print(obj1.color)
print(obj3.color)
#print(obj3.os)
#print(obj3.ram)
#print(type(obj3.ram))

print()
# calling the funciton that is added (method)

obj1.a()

Intel I7
Full HD
Intel I7

The value of the object after updating for obj3 is - Mac os
Red
Black

hello all

In [ ]:
object1 = mymobile("white","HP")
print(object1.processor)
print(object1.camera)
# object2 = mymobile("black","cannon")
# print(object2.processor)
# print(object2.camera)

Intel I7
HP

In [ ]:
## Encapsulation (hide data)

In [ ]:
# Encapsulation
# Hide (or) bundle data inside one single unit.

'''
2 methods:
private method 
public method
'''

'\n2 methods:\nprivate method \npublic method\n'

In [ ]:
# Public method 
class data():
  def __init__(a,username,password):
    a.username = username
    a.password = password

In [ ]:
# private method
class data():
  def __init__(a,username,password):
    a.username = username
    a.__password = password
    # using _ _ -> double __ : makes this a private method  
  # To access the password we create a new function
  def access(a):
    print(a.__password)

In [ ]:
obj = data("Admin","Pass123")
print(obj.username)
#print(obj.password)
obj.access()

Admin
Pass123

In [ ]:
## Polymorphism

In [ ]:
# many different method, forms or funcitons.

In [ ]:
class birds():
  def intro(self):
    print("there are different types of birds")
  def fly(self):
    print("most of the birds cant fly")
  def color(self):
    print("every bird has different kind off colors")

In [ ]:
class parrot(birds):
  def fly(self):
    print("parrot can fly")
class penguin(birds):
  def fly(self):
    print("penguins cannot fly")
  # def __init__(self,color):
  #   self.color = color
  def color(self):
    print("the penguins color is white")

In [ ]:
o1 = birds()
o2 = parrot()
o3 = penguin()
o1.fly()
# print('The intro of o2 is - ',o2.intro())
o2.intro()
o2.fly()
o3.fly()
o3.color()

most of the birds cant fly
there are different types of birds
parrot can fly
penguins cannot fly
the penguins color is white